table {
    border-left: 1px solid black;
    border-collapse: collapse; /* forgot this guy existed */
    width: 400px;
}

thead {
    color: white;
    background-color: black;
    
}



.blank {
    background-color: black;
}

.services {
    background-color: rgba(255, 0, 76, 0.3);
}

tr,
th, 
td {
    padding: 0.5rem;
    text-align: center;   
    font-size: larger;
}

tbody td, tbody th {
    border: 1px solid rgba(104, 0, 29, 0.1);

}

tbody tr:nth-child(even) {
    background-color: rgba(255, 119, 160, 0.2);
  }