:root {
    --primary: #003d39;
    --secondary: #217d75;
    --accent: #c79bbc;
    /* --primary: #001c3d;
    --secondary: #2a5d89;
    --accent: #bb9bc7; */

    --header-font: Tinos;
    --para-font: Reddit Sans;

    --box-color: #f6f6f6;
    --box-border-color: #bb9bc74b;
}

body {
    font-family: var(--para-font);
    margin: 0;
}

header {
    display: flex;
    background: var(--primary);
    font-family: var(--header-font);
}

header img {
    height: 100px;
    width: 100px;
    align-self: center;
    margin-left: 2rem;
    border-radius: 50%;
    border: 2px solid var(--accent);
}

h1 {
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: white;
    max-width: 300px;
}

.logo-h1 {
    display: flex;
}

#menu {
    background: none;
    border: none;
    color: white;
    font-size: 55px;
    position: absolute;
    right: 1rem;
    top: 7.5rem;
    margin-left: 2rem;
    cursor: pointer;
}

#menu::before {
    content: '≡';
}

#menu.open::before {
    content: '×';
    position: absolute;
    font-family: var(--para-font);
    font-weight: 300;
    right: 0.5rem;
    top: -0.2rem;
}

.navigation.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: var(--primary);
    top: 149px;
    width: 100%;
    right: -2rem;
    z-index: 1;
}

.navigation {
    display: flex;
    font-family: var(--header-font);
    font-size: larger;
    margin: 2rem 2rem 0 2rem;
    align-self: center;
    display: none;

}

.navigation a {
    color: white;
    text-decoration: none;
    text-align: center;
    align-self: center;
    font-weight: 500;
    padding: 25px;
    width: 90%;
    border-bottom: 1px solid #c79bbc60;
}

.navigation a:last-child {
    border-bottom: none;
}

.navigation a:hover {
    text-decoration: underline;
}

main.home {
    display: grid;
    grid-template-columns: 1fr;
    background: var(--primary);
}

#banner {
    position: relative;
    background: #f6f6f6;
    color: var(--primary);
    text-align: center;
    font-size: larger;
    margin: 0;
    padding: 1rem;
}

#banner p {
    margin: 0 2rem;
}

#banner-x {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 30px;
    color: var(--accent);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 0;
}

#banner-x::before {
    content: '×';   
}

#banner.closed {
    display: none;
}

.hero img {
    width: 100%;
    height: auto;
}

.callToAction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--primary);
    color: white;
    font-family: var(--header-font);
    font-size: larger;
}

.callToAction a {
    background: var(--secondary);
    color: white;
    padding: 1.5rem;
    border-radius: 15px;
    margin-left: 1rem;
    text-decoration: none;
    width: 40%;
    text-align: center;
    font-size: 30px;
    font-family: var(--para-font);
}

.callToAction a:hover {
    background: var(--accent);
}

.content {
    display: flex;
    background: white;
    flex-direction: column;
    padding: 1rem;
    color: var(--primary);
}

.content h2 {
    margin-left: 1rem;
    margin-bottom: -0.8rem;
}

.content h3 {
    font-weight: 500;
}

.currentEvents,
.weather,
.spotlight {
    background: #f6f6f6;
    margin: 2rem;
    border-radius: 5px;
}

.content h2 {
    font-size: 30px;
}

.currentEvents div,
.weather div {
    border-top: 1px solid #bb9bc74b;
    padding: 1rem;
    margin: 1rem;
}

#weather-emoji {
    width: 70px;
}

.weather {
    text-align: center;
    font-size: larger;
}

#forecast {
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    background: var(--box-color);
    border-radius: 5px;
}

#forecast h2 {
    font-size: 24px;
    
}

#forecast div {
    border: none;
    padding: 1rem;
    padding-top: 2rem;
    border-bottom: 1px solid var(--box-border-color);
}

#forecast div:last-child {
    border: none;
}

#max {
    font-weight: 600;
    font-size: 21px;
}

.spotlight {
    display: flex;
    flex-direction: column;
    border: 1px solid #217d751e;
    background: #fafefc;
    /* background: #ffb7fd2d; */

}

.spotlight h2 {
    border-bottom: 1px solid #217d751e;
    padding-bottom: 0.5rem;
}

.spotlight div {
    padding: 1rem;
    margin: 1rem;
}

.spotlight div:first-of-type {
    border-bottom: 1px solid #217d751e;
}

.spotlight h3 {
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 1rem;
    
}

.spotlight img {
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #217d750e;
    
}

.spotlight a {
    color: var(--secondary);
}

.spotlight a:hover {
    color: var(--accent);
}

#lastModified {
    margin: 0;
}

footer div {
    display: flex;
    justify-content: space-around;
}

.bottomFoot {
    border-top: 1px solid #c79bbc60;
    font-family: var(--header-font);
}

footer {
    display: grid;
    color: white;
    background: var(--primary);
    margin: 0;
    padding: 1rem;
    justify-content: space-around;
}


/*/////////////////////////////////////////////////////////////////

DISCOVER 

/////////////////////////////////////////////////////////////////*/

.discover {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr;
    
}

.sidebar {
    order: 2;
}

.info {
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    height: auto;
    background: #f6f6f6;
    border-radius: 5px;
    color: var(--primary);
    
}


.figure {
    margin: 2rem;
}

/* THE LITTLE WHITE STUPID AREA UNDER MY IMG WAS BECAUSE IT
WAS INLINE AAAAAA THANK YOU STACK OVERFLOW GUY */
.figure img {
    display: block;
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img-caption {
    display: flex;
    flex-direction: column;
    background: var(--primary);
    color: white;
    padding: 1rem;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.img-caption p {
    justify-content: center;
    align-items: center;
}


/*/////////////////////////////////////////////////////////////////

JOIN 

/////////////////////////////////////////////////////////////////*/

.join {
    color: var(--primary);
}

.formbox {
    margin: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem 0;
    background: #f6f6f6;
    border: none;
    border-radius: 5px;
}

legend {
    padding: 0.5rem 1rem;
    background: #f6f6f6;
    border-radius: 10px;
}

label {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

input {
    padding: 0.9rem;
    border: 1px solid #bb9bc74b;
    border-radius: 10px;
    margin: 5px;
}

.radiobox {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 2rem;
}

.radiobox label {
    width: 100%;
   
}

textarea {
    padding: 1rem;
    border: 1px solid #c79bbc60;
    border-radius: 10px;
    margin: 5px;
}

input[type='submit'] {
    border: none;
    background: var(--secondary);
    color: white;
    padding: 1.5rem;
    cursor: pointer;

}

input[type='submit']:hover {
    background: var(--accent);
}

/* thankyou.html */
#thankies {
    flex-wrap: wrap;
    color: var(--primary);
    margin-top: 5rem;
    text-align: center;
    height: 90vh;
    font-size: 30px;
    grid-column: 1 / 3;
}
/* ///////////// */

section h2 {
    margin: 2rem 1rem 2.5rem 1rem;
}

.perks {
    margin: 1rem;
    padding: 2rem;
    background: var(--box-color);
    border-radius: 5px;
    text-align: center;
}

.perk-emojis {
    font-size: 40px;
}

/*/////////////////////////////////////////////////////////////////

DIRECTORY 

/////////////////////////////////////////////////////////////////*/

main.directory {
    color: var(--primary);
}

.layout-options {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-bottom: -2rem;
}

.layout-options button {
    padding: 1rem; 
    width: 30%;
    border: none;
    color: var(--primary);
    background: var(--box-color);
}

#grid {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#list {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.layout-options button:hover {
    background: #e1e1e1;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.list {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.list .member-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px 30px;
    padding: 1rem;
    margin: 0;
    border-radius: 0;
}

.list .member-card:nth-child(even) {
    background: var(--box-border-color);
}

.list .member-card:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list .member-card:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.list .member-card h2 {
    font-size: 18px;
}

.list .member-card h2~p,
.list .member-card a {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 1rem;
    
}

.list .member-card a {
    grid-column: 1 / 5;
    grid-row: 2 / 3 ;
    padding-top: 1rem;
    border-top: 1px solid var(--box-border-color);
}

.list img {
    display: none;
}

.member-card {
    text-align: center;
    background: var(--box-color);
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
}

.member-card h2 {
    margin-top: 1rem;
    font-size: xx-large;
}

.member-card img {
    border-radius: 5px;
    box-shadow: 10px 10px 10px #003d390f;
    margin-bottom: 2.5rem;
}

.member-card a {
    color: var(--secondary);
}

.member-card a:hover {
    color: var(--accent);
}