@media screen and (min-width: 800px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header img {
        display: block;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
    }

    .navigation.open {
        flex-direction: row;
        position: relative;
        background: none;
        top: auto;
        right: 3.5rem;

    }

    .navigation a {
        border: none;
        border-bottom: 1px solid var(--accent);
        margin-bottom: 1px;
    }


    .navigation a:hover {
        text-decoration: none;
        border-bottom: 2px solid var(--accent);
    }

    main.home {
        display: grid;
        grid-template-columns: 1fr 9fr 1fr;
        background: white;

    }

    .home .hero {
        display: flex;
        margin-top: 50px;
        grid-column: 2 / 3;
        height: 400px;
        transition: 0.5s;
    }

    .hero img {
        width: auto;
        height: auto;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .callToAction {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 0 3rem 0 3rem;
    }

    .callToAction a {
        margin: 0;
        width: 60%;
    }

    .content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column: 2 / 3;
    }

    .currentEvents {
        grid-row: 1 / 2;
    }

    .weather {
        grid-row: 1 / 2;
    }

    .spotlight {
        grid-column: 1 / 3;

    }

    /*/////////////////////////////////////////////////////////////////

    DISCOVER 
    at some point i just started phoning it in okay

    /////////////////////////////////////////////////////////////////*/

    .discover {
        display: grid;
        grid-template-columns: 1fr 2fr;
    
    }

    .sidebar {
        order: 1;
    }
    
    .info {
        margin: 2rem 1rem;
        grid-row: 1 / 1;
        grid-column: 1 / 2;
    
    }

    .figures {
        grid-column: 2 / 3;
        order: 2;
    }

    .figure {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        
    }

    .figure img {
        width: 60%;
        /* margin-right: 3rem; */
        border-radius: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: 0.3s;
    }

    .figure img:hover {
        transition: 0.1s;
        box-shadow: 10px 10px 0 var(--accent);
    }

    .img-caption {
        min-width: 200px;
        /* max-width: 300px; */
        width: 70%;
        border-radius: 0;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }


    

    


}