/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #666;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {border-bottom: solid 1px #333;}
nav ul li a {
    display: block;
    background-color: #444;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}
/*----------- FORM STYLING --------------*/
.webform1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.webform1 legend {
    color: #d34d4d;
    padding: 0 .5rem;
}

.webform1 label {
    display: block;
    padding-top: 1rem;
    color: #554897;
    font-size: .9rem;
}

.webform1 div {
    padding-top: 1rem;
    color: #d43d4d;
    font-size: .9rem;
}

.webform1 input[type="text"], 
.webform1 input[type="tel"],
.webform1 input[type="email"],
.webform1 input[type="url"],
.webform1 input[type="date"],
.webform1 select,
.webform1 input[type="number"]
{
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.webform1 input[type="radio"],
.webform1 input[type="checkbox"] {
    margin-right: 6px; 
}

.webform1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#d34d4d, #af363c);
    color: #fff;
    border-radius: 6px;
    padding: .6rem;
    margin: -1rem 2% 2rem 2%;
    width: 96%;
    max-width: 400px;
    box-shadow: 1px 1px 4px #999;

}

.webform1 input:required {
    border-left: solid 8px #d34d4d;
}

.webform1 input:required:valid {
    border-left: solid 8px #0f6625;
}


/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}
