:root {
    --primary-colour: #f97b7b;
    --secondary-colour: #00011d;
    --background-colour: #00042e;

}

body {
    font-family: Quicksand;
    font-weight: 500;
    margin: 0;
}

header {
    display: flex;
    position: relative;
    font-weight: 400;
    background-color: var(--secondary-colour);
    color: white;
}

#lightButton {
    position: absolute;
    top: 0.65rem;
    right: 3.5rem;
    background: none;
    border: none;
    font-size: 40px;
    color: #fff;
}

#pfp {
    border-radius: 50%;
    margin: 1.5rem;
    border: 3px solid var(--primary-colour);
}

#header-name {
    font-size: 40px;
    align-self: center;
}

#menu {
    position: absolute;
    top: -0.2rem;
    right: 0.5rem;
    font-size: 60px;
    background: none;
    border: none;
    color: white;
}

#menu::before {
    content: "≡";
}

/* oh wow that lack of space between #menu and .open is imPORTANT */
#menu.open::before {
    content: "×";
    font-weight: 300;
    position: absolute;
    right: 0.6rem;
}

.navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-colour);
}

.navigation a {
    display: none;
    text-align: center;
    margin-left: -15px;
    color: var(--primary-colour);
    text-decoration: none;
    font-weight: 600;
    padding: 1.5rem;
    width: 100%;
    transition: 0.1s;
    font-size: 17px;
}

.navigation a:hover {
    background-color: rgb(57, 227, 233);
    color: var(--secondary-colour);
    transition: 0.3s;
}

.navigation.open a {
    display: block;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--background-colour);
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaa */
.hero-caption {
    position: absolute;
    top: 7%;
    left: 4%;
    padding: 1rem;
    background: #00042eef;
    color: white;
    border-radius: 7px;
    font-size: 25px;
    font-weight: 400;
    border: 1px solid var(--primary-colour);
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(57, 227, 233, 0.5);
    border-radius: 10px;
    margin: 1.5rem;
    color: white;
    background-color: #040838;
}

main h1 {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1,
h2 {
    text-align: center;
    margin: 1rem;
    color: white;
}

.card li {
    list-style: none;
    font-size: 18px;
    color: white;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.card a {
    color: #f97b7b;
}

.card p {
    font-size: 18px;
    margin: 1rem;
}

#siteVisits {
    color: #f97b7b;
    font-weight: 600;
}

/* OK OK SO i went to w3schools for help, iframe be crazy ok BUT i 
think i understand what it's doing and why. 
    still hates margins, though. :( */
.iframe-container { /* container uses relative positioning as the parent,
    prep for the absolute child to be overlaid on top of it */
    position: relative;
    width: 100%;
    /* i don't know why padding-top and padding-bottom are good, 
    but padding-left and right yoink the iframe off my page. regular
    padding is ugly and does not work properly. */
    padding-top: 56.25%; /* use percentages so it's not a fixed height.
    this is where the aspect ratio magic happens. 100% is 1:1 */
    background: rgba(57, 227, 233, 0.5); /* just a visual indicator for the container */
    margin: 2rem 0 2rem 0;
}

.iframe {
    position: absolute;
    /* if I use padding-top in the container, then I need this.
    but if i use padding-bottom i don't. makes just enough sense 
    for me not to think about it. */
    top: 0;
    width: 100%; /* 100% on both makes sure that the absolute child 
    overlays its relative parent COMPLETELY */
    height: 100%;
}

footer {
    display: flex;
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

footer p {
    margin: 0.3rem;
    font-size: 14px;
}